main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fafafa;
}

h1 {
    color: #333333;
    background: #dadada;
    border: 1px solid #dadada;
    padding: 2rem;
    border-radius: 12px;
}

a:link, a:visited, a:active {
    margin: 1rem 0 1rem 0;
    text-decoration: none;
    color: #000;
}

a:focus, a:hover {
    text-decoration: underline;
}